/* Custom CSS */
.text-grey {
  color: grey;
  text-decoration: none;
}

.text-grey:hover {
  text-decoration: underline;
}

.text-light:focus,
.text-light:hover {
  color: white;
}


/* Add CSS Transition */
.navbar-collapse {
  transition: max-height 3s ease-in-out;
}

/* Set max-height to 0 when the drawer is closed */
.drawer-closed .navbar-collapse {
  max-height: 0 !important;
}

/* Set max-height to none when the drawer is open */
.drawer-open .navbar-collapse {
  max-height: none !important;
}
