/* Custom CSS */
.text-grey {
  color: grey;
  text-decoration: none;
}

.text-grey:hover {
  text-decoration: underline;
}

.text-light:focus,
.text-light:hover {
  color: white;
}


.navbar-collapse {
  transition: max-height 3s ease-in-out;
}

.drawer-closed .navbar-collapse {
  max-height: 0 !important;
}

.drawer-open .navbar-collapse {
  max-height: none !important;
}


/* ====hero section main page=== */

.hero-section{
  background-image: url("https://codewithsadee.github.io/anon-ecommerce-website/assets/images/banner-3.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
}